.nav-pills {
    margin-top: 20px;
  }
  
  .nav-pills .nav-item {
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    margin-right: 5px;
  }
  
  .nav-pills .nav-item .nav-link {
    color: #000; /* Black text for all tabs */
  }
  
  .nav-pills .nav-item.active-tab .nav-link {
    background-color: #ff7425; /* Active tab background */
    color: white; /* Active tab text color */
  }
  
  .nav-pills .nav-item:not(.active-tab) .nav-link {
    background-color: white; /* Inactive tab background */
    color: black; /* Inactive tab text color */
    border: 1px solid #ff7425; /* Optional border for inactive tabs */
  }
  